<%= render "shared/header" %>

<div class='item-contents'>
  <h1 class='title'>新規盗難情報一覧</h1>

    <%= form_with url: search_items_path, local: true, method: :get, class: "search-form" do |f| %>
        <%= f.text_field :keyword, placeholder: "  車種を検索する", class: "search-input" %>                
        <%= f.submit "検索", class: "search-btn" %>
    <% end %>

  <ul class=item-lists>
    <% @items.each do |item| %>
    <li class='list'>
        <%= link_to item_path(item.id),class: "details-contents" do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>
        </div>
        <div class='item-info'>
            <h3 class='item-name'>
            [車種名]:
            <%= item.information_name %>
            </h3>
          <div class='theft_day'>
            <h3 class='item-name'>
              [盗難日]：<%= item.theft_day %>
            </h3>
            <h3 class="item-name">
              [ユーザー名]: <%= item.user.nickname %>
            </h3> 
            </div>
          </div>
          <% end %>
        <% end %>
      </li> 

      <% if @items.length == 0 %>
        <li class='list'>
        <%= image_tag "fiat-1754723_1920.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            盗難情報はこちらに表示します。
          </h3>
          <div class='item-price'>
            <span>2021日2月14日発生<br>user名</span>
            </div>
        </div>
      </li>
      <%end %>
      </ul>
      <%= link_to 'トップへ戻る', root_path, class: "top-btn" %>
</div>