<%= render "shared/second-header" %>


<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      情報提供者：
      <%= @item.user.nickname %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @item.image ,class:"item-box-img" %>
      
      
      
    </div>
    
 
    <% if user_signed_in? %>
      <% if current_user.id == @item.user.id %>
       <%= link_to "商品の編集",edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
       <p class="or-text">or</p>
       <%= link_to "削除", item_path(@item.id), method: :delete, class:"item-destroy" %>
      <% end %>
    <% end %>
  
    <div class="item-explain-box">
      盗難状況:
      <span><%= @item.description %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">車種名</th>
          <td class="detail-value"><%= @item.information_name %></td>
        </tr>
        <tr>
          <th class="detail-item">盗難時の状況</th>
          <td class="detail-value"><%= @item.description %></td>
        </tr>
        <tr>
          <th class="detail-item">盗難にあった日付</th>
          <td class="detail-value"><%= @item.theft_day    %></td>
        </tr>
        <tr>
          <th class="detail-item">盗難にあった場所</th>
          <td class="detail-value"><%= @item.theft_place.name %></td>
        </tr>
        <tr>
          <th class="detail-item">盗難にあった地域</th>
          <td class="detail-value"><%= @item.prefecture.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      
      
    </div>

<div class="comment-box">
<% if user_signed_in? %>
  <%= form_with model: [@item, @comment], local: true  do |f| %> 
  <%= f.text_area :text, placeholder: "目撃情報を提供する", class: "comment-text" %>
  <%= f.submit "SEND" ,class: "comment-btn" %>
  <% end %>
<% end %>

<div class="comments">
  <h4 class="comment-title">＜現在寄せられてる情報一覧＞</H4>
  <% @comments.each do |comment| %>
  <p>
    <strong class="comment-name"><%= comment.user.nickname %></strong>
      <%= "日付: #{comment.created_at.to_s(:datetime)}" %>:
       <%= comment.text %>
  <% end %>
  </p>
</div>

</div>
<% if user_signed_in? %>
  <%= link_to "登録した地図情報を確認する", item_map_path(:id), class: "map-btn2" %>
<% end %>
</div>
</div>


  <%= render "shared/footer" %>
